.song-buttons {
  float: left;
  width: 6%;
}

.song-designation {
  width: 94%;
  float: left;
  div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.song-item {
  padding: 10px 5px;
}

.song-artist {
    font-weight: bold;
}

.list-item-even {
  background-color: #f8f8f0;
}